@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');

:root {
    --header-height: 4rem;
    --logocolor: #66573b;
    --bgcolor-home: #e8dcb5;
    --box-shadow: 0px 2px 10px 0px rgb(149, 149, 149);
    --firstcolor: #b99965;
    --normal-fontsize: .938rem;

    /* COLORS */
    /* favorites */
    /* beige: 37
        pink: 341
        peach: 27
    */
    --hue-color:37;

    --first-color: hsl(var(--hue-color), 38%, 56%);

    /* === z-index === */

    --z-tooltip: 10;
    --z-fixed: 100;
}

/* Responsive Typography */

@media screen and (min-width: 968px) {
    
    :root{
        --h1-font-size: 2.25rem;
        --normal-font-size: 1rem;
    }
}

/* == BASE == */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Quicksand';
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}

body{
    margin: var(--header-height) 0 0 0;
    font-family: 'Quicksand';
    font-size: var(--normal-font-size);
    text-decoration: none;
    /* background-color: var(--bgcolor-home); */
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
    height: auto;
}

/* == REUSABLE CSS == */

.section{
    padding: 4.5rem 0 2rem;
}

.section_title{
    font-size: var(--h1-font-size);
    color: var(--logocolor);
    text-align: center;
    margin-bottom: 1.5rem;
}

#home{
    height: 100vh;
}

/* == LAYOUT == */

.container{
    max-width: 968px;
    margin-left: 1rem;
    margin-right: 1rem;
}


/* == HEADER == */

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    z-index: var(--z-fixed);
    transition: .4s;
}

/* == NAV == */

.nav{
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_img{
    width: 50px;
    border-radius: 50%;
}

.nav_logo{
    color: var(--logocolor);
    font-weight: 600;
    font-family: 'Sacramento';
    font-size: 35px;
}

@media screen  and (max-width: 767px) {
    .nav_menu{
        position: fixed;
        bottom: 0;
        left: 0;
        background-color: white;
        box-shadow: var(--box-shadow);
        width: 100%;
        height: 4rem;
        padding: 0 1rem;
        display: grid;
        align-content: center;
        border-radius: 1.25rem 1.25rem 0 0;
        transition: .4s;
    }
}

.nav_list,
.nav_link{
    display: flex;
}

.nav_link{
    flex-direction: column;
    align-items: center;
    row-gap: .25rem;
    color: var(--logocolor);
    font-weight: 600;
}

.nav_link:hover{
    color: var(--firstcolor); 
 }

.nav_list{
    justify-content: space-around;
}

.nav_name{
    font-size: 12px;
    /* display: none; */
}

.nav_icon{
    font-size: 1.5rem;
}

/* Active Link */

.active-link{
    position: relative;
    color: var(--firstcolor);
    transition: .3s;
}

/* Minimalist Design */

.active-link::before{
    content: '';
    position: absolute;
    bottom: -.5rem;
    width: 30px;
    height: 4px;
    background-color: var(--firstcolor);
    border-radius: 20px;
}

/* Change Background Header */

.scroll-header{
    box-shadow: var(--box-shadow);

}


/* === HOME/HOMEPAGE=== */

#home .home{
    padding: 100px 0;
    text-align: center;
    color: #826f4c;
}

#home .home h1 span{
    font-size: 65px;
    font-family: 'Sacramento';
    color: var(--logocolor);
    position: relative;
}

#home .home h1 .name::after{
    content: '';
    background-color: #262420;
    position: absolute;
    bottom: 0;
    left: 40px;
    right: 0;
    height: 1px;
    top: 70px;
    border-top: 3px solid #433e35;
    width: 100px;
    border-radius: 50px;
}

#home .home .socials{
    padding-top: 50px;
}

#home .home .socials i{
    color: #826f4c;
    font-size: 30px;
    padding: 10px;
}
#home .home .socials i:hover{
    color: var(--firstcolor);
}


#gallery .gallery{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 10px;
}

#gallery .gallery img{
    width: 500px;
    min-width: 100%;
    height: 400px;
}

.content {
position: relative;
/* width: 90%;
max-width: 400px; */
margin: auto;
overflow: hidden;
}
  
.content .content-overlay {
    background: rgba(0,0,0,0.7);
    position: absolute;
    height: 99%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}
  
.content:hover .content-overlay{
opacity: 1;
}

.content-image{
width: 100%;
}

.content-details {
position: absolute;
text-align: center;
padding-left: 1em;
padding-right: 1em;
width: 100%;
top: 50%;
left: 50%;
opacity: 0;
-webkit-transform: translate(-50%, -50%);
-moz-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
-webkit-transition: all 0.3s ease-in-out 0s;
-moz-transition: all 0.3s ease-in-out 0s;
transition: all 0.3s ease-in-out 0s;
}
  
  .content:hover .content-details{
    top: 50%;
    left: 50%;
    opacity: 1;
  }
  
  .content-details h3{
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.15em;
    margin-bottom: 0.5em;
    text-transform: uppercase;
  }
  
  .content-details p{
    color: #fff;
    font-size: 0.8em;
  }
  
  .fadeIn-bottom{
    top: 80%;
  }
  
  .fadeIn-top{
    top: 20%;
  }
  
  .fadeIn-left{
    left: 20%;
  }
  
  .fadeIn-right{
    left: 80%;
  }

#contactme .reachme{
    text-align: center;
}

#contactme .reachme p{
    font-size: 15px;
}

#contactme .reachme .form {
    padding: 20px;
    width: 80%;
    margin: auto;
}

#contactme .reachme .form .inputfield{
    padding: 10px;
}

#contactme .reachme .form .inputfield input{
    width: 100%;
    font-size: 15px;
    padding: 10px;
    border: 2px solid #66573b;
}

#contactme .reachme .form .inputfield input:focus{
    background-color: whitesmoke;
    border-radius: 0%;
    outline-color: #66573b;
}

#contactme .reachme .form .inputfield textarea{
    width: 100%;
    font-size: 15px;
    padding: 10px;
    border: 2px solid #66573b;
    max-width: 100%;
    /* min-height: 200px; */
}

#contactme .reachme .form .inputfield textarea:focus{
    background-color: whitesmoke;
    border-radius: 0%;
    outline-color: #66573b;
}

#contactme .reachme .form .inputfield .submitbutton{
    border: 2px solid #66573b;
    padding: 10px 40px 10px;
    float: right;
    background-color: #66573b;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    transition: .4s ease-in-out;
    font-weight: 600;
    letter-spacing: 2px;
}

#contactme .reachme .form .inputfield .submitbutton:hover{
    background-color: #e8dcb5;
    color: #66573b;
}
























/* ===== MEDIA QUERIES ===== */

/* for small devices */
        /* can be removed if i dont like the design */


@media screen and (max-width: 500px){
    .nav_name{
        display: none;
    }

    #home .home{
        padding: 30px;
        font-size: 13px;
    }

    #home .home h1 span{
        font-size: 30px;
        font-family: 'Sacramento';
        color: var(--logocolor);
        position: relative;
    }
    
    #home .homepage{
        padding-top: 50px;
    }

    #home .home h1 .name::after{
        display: none;
    }

    #home .home .socials{
        padding-top: 20px;
    }
    
    #home .home .socials i{
        
        font-size: 15px;
    }

    
}

/* for medium devices */

@media screen and (min-width: 576px){
    .nav_list{
        justify-content: center;
        column-gap: 3rem;
    }

}

@media screen and (max-width: 767px){
    .nav_name{
        display: none;
    }

    #home .home{
        padding: 20px 0;
    }
}


@media screen and (min-width: 767px){
    body{
        margin: 0;
    }

    .section{
        padding: 7rem 0 2rem;
    }

    .nav{
        height: calc(var(--header-height) + 1.5rem);
    }

    .nav_img{
        display: none;
    }

    .nav_list .nav_icon{
        display: none;
    }

    .nav_name{
        font-size: 15px;
    }

    .active-link::before{
        content: '';
        position: absolute;
        bottom: -.75rem;
        width: 30px;
        height: 4px;
        background-color: var(--firstcolor);
        border-radius: 20px;
    }


}

/* for large devices */

@media screen and (min-width: 1024px){
    .container{
        margin-left: auto;
        margin-right: auto;
    }


}



































/* NAVIGATION BAR

nav {
    box-shadow: var(--box-shadow);
    position: sticky;
    top: 0;
    background-color: white;
}

nav .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    padding-left: 4rem;
    padding-right: 4rem;
}

nav .logo-name .logo {
    font-family: 'Sacramento', sans-serif;
    font-size: 35px;
    color: #66573b;
} */

/* END OF NAVIGATION BAR */


/* #home {
    height: 100vh;
    background-color: var(--bgcolor-home);
} */



